@model WebApplication3.Models.OrderMaster

@{
    ViewData["Title"] = "ViewPayReport";
}

<h1>View Payment Report</h1>

<div>
    <h4>OrderMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Type)*@Payment Type:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCV)
        </dd>
        
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
