@model IEnumerable<WebApplication3.Models.Food>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.FoodId">Edit</a> |*@
                @*<a asp-action="Details" asp-route-id="@item.FoodId">Details</a> |*@
                @*<a asp-action="Delete" asp-route-id="@item.FoodId">Delete</a>|*@
                <a asp-action="AddtoCart" asp-controller="Carts" asp-route-FoodId="@item.FoodId">Add to Cart</a>|
            </td>
        </tr>
}
    </tbody>
</table>
